combien		combien
représenté	combien
représentée	combien
représentés	combien
représentées	combien
nombre	combien
nombres	combien
seul	combien
moins	combien
riche	combien
riches	combien
possédant	combien
possédants	combien
possédantes	combien
limite	limite
deux	limite
trois	limite
quatre	limite
cinq	limite
six	limite
sept	limite
huit	limite
neuf	limite
dix	limite
\\d	limite
vouloir	vouloir
quel	vouloir
qui	vouloir
quels	vouloir
quelle	vouloir
veux	vouloir
affiche	vouloir
quelles	vouloir
donne-moi	vouloir
récupère	vouloir
cherche	vouloir
trouve-moi	vouloir
afficher	vouloir
voudrais	vouloir
souhaite	vouloir
veux	vouloir
souhaiterais	vouloir
recherche	vouloir
rechercher	vouloir
donne	vouloir
fichier	fichier
article	fichier
articles	fichier
recherches	fichier
bulletin	bulletin
bulletins	bulletin
publié	bulletin
publier	bulletin
publiés	bulletin
publication	bulletin
numéro	bulletin
auteur	auteur
auteurs	auteur
qui	auteur
écrit	auteur
contact	auteur
contacts	auteur
contacter	auteur
parle	parler
parlent	parler
parler	parler
parlant	parler
contient	parler
contenir	parler
aborde	parler
abordent	parler
concerne	parler
concernent	parler
mot	parler
titre	parler
portant	parler
porte	parler
portants	parler
rapport	parler
texte	parler
comporte	parler
comportant	parler
comportants	parler
traitent	parler
citent	parler
citer	parler
cite	parler
évoque	parler
évoquent	parler
évoquant	parler
évoquants	parler
mentionner	parler
mentionnant	parler
mentionnants	parler
thème	rubrique
rubrique	rubrique
rubriques	rubrique
sujet	rubrique
sujets	rubrique
catégorie	rubrique
catégories	rubrique
projet	rubrique
projets	rubrique
date	date
janvier	date
fevrier	date
mars	date
avril	date
mai	date
juin	date
juillet	date
aout	date
septembre	date
octobre	date
novembre	date
decembre	date
lundi	date
mardi	date
mercredi	date
jeudi	date
vendredi	date
samedi	date
dimanche	date
\\d{2}	date
\\d{4}	date
datant	date
datants	date
jour	date
jours	date
mois	date
an	date
ans	date
année	date
années	date
semaine	date
semaines	date
précédent	date
précédents	date
antérieur	date
antérieurs	date
quand	date
depuis	date
actu	actualité
actualité	actualité
actualités	actualité
image	image
images	image
illustration	image
illustrations	image
évènement	évènement
évènements	évènement
